
function accept(stream)
    local fd = stream:get_fd()
    local res = stream:read(fd,1024)
    print res
end

function zorp_plug()
    Dispatcher(DBSockAddr("0.0.0.0",4000));
    log("nosession", "core.error", 1, "Test log")
end

